.jumbotron {
  margin-top: 20px;
}

table {
  line-height: 30px;
  width: 300px;
  text-align: center;
}

.alert {
  margin-top: 10px;
  font-size: 12px;
}

.editor {
  position: relative;
  height: 500px;
}