.jumbotron {
  margin-top: 20px;
}

table {
  margin-top: 20px;
  /*line-height: 30px;*/
  width: 300px;
  text-align: center;
}

.alert {
  margin-top: 10px;
  font-size: 12px;
}

.editor {
  position: relative;
  height: 500px;
}

.signin-btn {
  float: right;
}