div(ng-include='\'partials/navbar\'')

.jumbotron

    div.row
        div.alert.alert-info.alert-dismissable.col-sm-12
            button(type='button' class='close' data-dismiss='alert' aria-hidden='true')&times;
            p <strong>Introduction</strong>
            p.
                Reversi is a strategy board game for two players, played on an 8×8 checkered board. There are sixty-four identical game pieces called disks (often spelled "discs"), which are White on one side and Black on the other. Players take turns placing disks on the board with their assigned color facing up. During a play, any disks of the opponent's color that are in a straight line and bounded by the disk just placed and another disk of the current player's color are turned over to the current player's color.
            br
            div.row
                div.col-sm-4
                    strong Valid Move
                    div
                        img(src='images/valid_reversi.png')
                div.col-sm-4
                    strong Invalid Move
                    div
                        img(src='images/invalid_reversi.png')

            br
            p The objective of the game is to have the majority of disks turned to display your color when the last playable empty square is filled.

            p For full details on Reversi, please refer to <a href='http://en.wikipedia.org/wiki/Reversi'>Wikipedia</a>
            br

            p <strong>Beat the Bots: Reversi</strong>
            br
            p <strong>Objective:</strong> Develop your invincible Reversi bot to challenge and beat bots from around the world.
            br
            p <strong>Steps:</strong>
            ol
                li Register an account to keep track of your bots
                li Create your own bot
                li Challenge and beat bots from around the world to improve your rating (Coming Soon!)
                li Top the rating table (Coming Soon!)
            br
            p <strong>How to create a bot</strong>
            ol
                li Enter a bot name
                li Modify the <code>next_move</code> method. Details of the parameters as follows
                    ol
                        li <strong>board</strong>: current board of the game (before your next move), represented in 2 dimensional array of type Integer
                        li <strong>side</strong>: user’s side (O representing White or X representing Black) of type Char
                        li <strong>validmoves</strong>: all possible valid move(s) for the turn, represented in 2 dimensional array of type Integer
                li Hit the Add Bot Button
            br

    div.row
        div.col-sm-8
            h4 New Bot
            input(type='text' placeholder='Bot Name' class='form-control' ng-model='new_bot.name')
            //- textarea(class='form-control' placeholder='Bot Code' ng-model='new_bot.code')
            div(id='new_bot_editor' class='editor')
            button(ng-click='addBot(new_bot)' class='btn btn-success') Add Bot

        div.col-sm-4
            span Choose your language:
            select(class='form-control' ng-init='lang=languages[0]' ng-model='lang' ng-change='change_lang(lang)', ng-options='lang for lang in languages')
    div.row
        div.alert.alert-info.alert-dismissable.col-sm-12
            button(type='button' class='close' data-dismiss='alert' aria-hidden='true')&times;
            p <strong>How to challange</strong>
            ol
                li Select a bot from the list to represents X
                li Select a bot from the list to represents O
                li Hit the Play button

    div.row
        div(class='col-sm-6')
            h4 Bot X
            select(class='form-control' ng-init='bot1=bots[0]' ng-model='bot1' ng-change='change_bot1(bot1)' ng-options='bot.name for bot in bots')
            //- textarea(class='form-control' ng-model='bot1.code' rows=30)
            div(id='bot1_editor' class='editor')

        div(class='col-sm-6')
            h4 Bot O
            select(class='form-control' ng-init='bot2=bots[0]' ng-model='bot2' ng-change='change_bot2(bot2)' ng-options='bot.name for bot in bots')
            //- textarea(class='form-control' ng-model='bot2.code' rows=30)
            div(id='bot2_editor' class='editor')

    div
        button#play(ng-click='play(true)' class='btn btn-primary') Play

    div.row
        div.table.col-sm-4(ng-repeat='board in game_history')
            hr
            table(class='table-bordered')
                tr(ng-repeat='row in board track by $index')
                    td(ng-repeat='char in row track by $index') {{char}}

    div.alert.alert-danger.hide#alert-danger
        strong Uh Oh!
        p {{errors}}

    div(class='alert alert-info hide' id='alert-info')
        span  No more valid moves available

    div(class='alert alert-success hide' id='alert-win')
        span  The winner is <strong>{{ winner.name }}</strong> with a score of <strong>{{ winner.score }}</strong>